$font-file-formats: ttf woff woff2;
$font-path: '../fonts/';

@mixin font-face(
  $font-family,
  $font-name,
  $weight: normal,
  $style: normal,
  $file-formats: $font-file-formats
) {

  @font-face {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;

    src: font-source-declaration(
        $font-family,
        $font-name,
        $file-formats
    );
  }
}

@function font-source-declaration(
  $font-family,
  $font-name,
  $file-formats
) {

  $src: null;

  $font-file-definitions: (
    eot : "#{$font-name}.eot?#iefix" format("embedded-opentype"),
    woff2 : "#{$font-name}.woff2" format("woff2"),
    woff : "#{$font-name}.woff" format("woff"),
    ttf : "#{$font-name}.ttf" format("truetype"),
    svg : "#{$font-name}.svg##{$font-family}" format("svg")
  );

  @each $key, $values in $font-file-definitions {
    @if contains($file-formats, $key) {
      $file-name: nth($values, 1);
      $font-format: nth($values, 2);
      $src: append($src, url($font-path + $file-name) $font-format, comma);
    }
  }

  @return $src;
}
